table#completedGamesTable {
    max-height: 85vh;
    max-width: 90vw;
}

td.game-date{
    background:  #8B9096 !important;
    text-align: left;
}
table {
    border-spacing: 0
}
table caption{
    padding: 0vh 0 2vh 0;
}

table thead tr>:first-child {
    position: sticky;
    left: 0

}
table tbody tr>:first-child {
    position: sticky;
    left: 0;
    background: #1b4a79f0;
    z-index: 1;
}
p {
    margin: 0;
    text-align: left;
}
.rf-head{
    min-width: 4em;
}
.avg-pred-head {
    min-width: 6em;
    text-decoration:overline; 
}
.avg-points-head {
    text-decoration:overline; 
}