.game {
    height: fit-content;
}
form {
	background-color: var(--dark-blue);
	margin: 5vh;
	margin-top: 0;
	border-spacing: 0 1rem;
	padding: 2vh;
	padding-block-end: 1vh;
}

#partidosTable {
	min-width: 40vw;
}
#leaderboardTable {
	min-width: 28vw;
}
form .caption {
    display: flex;
	text-transform: capitalize;
	text-align: center;
    vertical-align: middle;
	font-size: var(--size-avg-plus);
	background-color: var(--main-dark);
	padding: 1.5vh;
    align-items: center;
    min-width: 30vw;
}

input[title="Goles"] {
    width: 2.5vw;
    text-align: center;
}
input[title="Submit"] {
    color: var(--dark-blue);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#match_container{
    display: flex;
    justify-content: center;
    padding: 0.5vh;
    margin-top: 1vh;
 }
.team_plus_score {
    display: flex;
    align-items: center
}

.name_team {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
}

/* center every element nested in a table row */
table tr > * {
	text-align: center;
	padding: 0.5rem;
}

/* style the headings to have thin uppercase titles for the columns */
table th {
	/* text-align: left; */
	font-weight: 300;
	letter-spacing: 0.04rem;
	font-size: 0.9rem;
	color: #eee;
	text-transform: uppercase;
	background-color: var(--main-dark);
	margin-top: 0;
	/* border: solid;
    border-width: 0 1px; */
}

/* slightly increase the weight of the cell describing the position */
table td.position {
	font-weight: 500;
}

/* style the cell with the driver visually separating the first, last name and team */
table td.driver {
	padding-left: 1rem;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
}
table td.driver strong {
	text-transform: uppercase;
	font-weight: 500;
}
table td.driver span {
	text-transform: capitalize;
	margin-left: 0.75rem;
	font-size: 0.8rem;
	color: #999;
	letter-spacing: initial;
}

/* style the span nested in the last cell to have the gap in a rounded rectangle */
table td.gap span {
	background: #38383f;
	border-radius: 30px;
	padding: 0.5rem 0.75rem;
	font-size: 0.8rem;
	text-transform: uppercase;
}