.game {
    height: fit-content;
}
form {
    background-color: var(--dark-blue);
    margin: 5vh;
    max-width: 65vw;
    margin-top: 0;
    border-spacing: 0 1rem;
    padding: 2vh;
    padding-block-end: 1vh;
}

#partidosTable {
	min-width: 40vw;
}
#leaderboardTable {
	min-width: 28vw;
}
form .caption {
    display: flex;
	text-transform: capitalize;
	text-align: center;
    vertical-align: middle;
	font-size: var(--size-avg-plus);
	background-color: var(--main-dark);
	padding: 1.5vh;
    align-items: center;
    min-width: 30vw;
}

input[title="Goles"] {
    width: 2.5vw;
    text-align: center;
}
input[title="Submit"] {
    color: var(--dark-blue);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.match {
    display: flex;
    align-items: center;
    padding: 1vh
}
#match_container{
    display: flex;
    justify-content: center;
    padding: 0.5vh;
    margin-top: 1vh;
    flex-wrap: wrap;
 }
.team_plus_score {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}

.name_team {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
}
