.Group {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
}
.group_input {
    display: flex;
    justify-content: center;
}
.pos_input {
    padding-block-start: 3vh;
    padding-block-end: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prev_next_buttons_container {
    margin: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.selected1 {
    background: rgba(190, 250, 181, 0.333);
}
.selected2 {
    background: rgba(250, 236, 181, 0.333);
}
select {
    margin: 0 1vh;
    width: max-content;
}
.hide {
    display: none;
}