:root {
	--light-blue: #13232f9a;
	--dark-blue: #13232f;
	--dark-blue-40: #3098e840;
	--dark-blue-80: #13232f80;
	--white: #ffffff;
	--white-80: #ffffff80;
	--main: #0b6eb9;
	--main-light: #3887c4;
	--main-dark: #12588e;;
	--gray-light: #89959e;
	--gray-light-40: #89959e40;
	--gray1: #ebe6e2;
	--gray2: #d6cdcd;
	--thin: 300;
	--normal: 400;
	--bold: 600;
	--br: 4px;
	--font: "Titillium Web", sans-serif;
	--size-big: 5.5vh;
	--size-avg: 2vh;
	--font-avg-width: 3vw;
	--size-avg-plus: 2.1vh;
	--size-avg-min: 1.8vh;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	font-family: var(--font);
	color: var(--white);
	font-size: min(var(--font-avg-width), var(--size-avg));
	background-color: var(--dark-blue-80);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.alert {
	position: absolute;
	margin-top: 1vh;
	color: red;
}

#SiteName {
	padding-left: 2vh;
}
#SiteName a {
	color: var(--gray1);
	text-decoration: none;
}
#SiteName a:hover {
	color: var(--main-light);
}

header {
	width: 80vw;
}

nav {
	background: var(--light-blue);
	min-width: max-content;
	display: flex;
	flex-direction: column;
}
nav div {
	display: flex;
}
nav * a,
nav * a:visited {
	color: var(--white);
}
nav * a:hover {
	color: var(--white-80);
}
/* .container * a,
.container * a:visited {
	color: var(--white);
}
.container * a:hover {
	color: var(--white-80);
} */

.top-row {
	justify-content: space-between;
}
.sec-row {
	justify-content: flex-end;
	background: var(--dark-blue-80);
}
.nav-items-2 * {
	padding: 0 1vw 0 1vw;
	margin: 0.5vh auto;
}
h1 {
	text-align: center;
	font-weight: 300;
	font-size: var(--size-big);
}
h2 {
	text-align: center;
	font-size: 3vh;
	color: var(--white);
}
.margin-0-0-40 {
	margin: 0 0 40px;
}

.container {
	/* margin: 0 auto; */
	padding: 3vh 0 3vh 0vh;
	background-color: var(--gray-light);
	display: flex;
	width: 80vw;
	/* height: 100vh; */
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
}

.navbar-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1.3vh;
}

/* .tableContainer {
	
} */
table {
	display: inline-block;
	max-height: 40vh;
	overflow: auto;
	background-color: var(--dark-blue);
	margin: 5vh;
	margin-top: 0;
	border-spacing: 0 0.5rem;
	border: 2vh solid var(--dark-blue);
	padding-block-end: 1vh;
}
.fixedHeader {
	position: sticky;
	top: 0;
}
.scrollcontent {
	z-index: 0;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
/* #partidosTable {
	min-width: 40vw;
}
#leaderboardTable {
	min-width: 28vw;
} */
table caption {
	position: sticky;
	top: 0;
	/* padding: 0vh 0.5vh; */
	text-transform: uppercase;
	text-align: left;
	font-size: var(--size-avg-plus);
	width: max-content;
}

/* center every element nested in a table row */
table tr > * {
	text-align: center;
	padding: 0.5rem;
}
/* style the headings to have thin uppercase titles for the columns */
table th {
	/* text-align: left; */
	font-weight: 300;
	letter-spacing: 0.04rem;
	font-size: var(--size-avg-plus);
	color: #eee;
	text-transform: uppercase;
	background-color: var(--main-dark);
	margin-top: 0;
	/* border: solid;
    border-width: 0 1px; */
}

/* slightly increase the weight of the cell describing the position */
table td.position {
	font-weight: 500;
}

/* style the cell with the driver visually separating the first, last name and team */
table td.driver {
	padding-left: 1rem;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
}
table td.driver strong {
	text-transform: uppercase;
	font-weight: 500;
}
table td.driver span {
	text-transform: capitalize;
	margin-left: 0.75rem;
	font-size: 0.8rem;
	color: #999;
	letter-spacing: initial;
}

/* style the span nested in the last cell to have the gap in a rounded rectangle */
table td.gap span {
	background: #38383f;
	border-radius: 30px;
	padding: 0.5rem 0.75rem;
	font-size: 0.8rem;
	text-transform: uppercase;
}

a,
u {
	text-decoration: none;
	color: var(--gray2);
}
a:visited {
	color: var(--gray2);
}
a:hover {
	color: var(--gray1);
}
