:root {
    --light-blue: #13232f9a;
    --dark-blue: #13232fd0;
    --dark-blue-40: #3098e897;
    --dark-blue-80: #13232f80;
    --dark-dark: #0f1c26d7;
    --white: #f8f8f8;
    --white-80: #ffffff80;
    --main: #0b6db9cc;
    --main-80: #0b6db963;
    --main-90: #0b6eb990;
    --main-light: #3887c490;
    --main-green: #c6ffce;
    --main-dark: #12588ed7;
    /* --gray-light: #89959e; */
    --gray-light: #656d70;
    ;
    --gray-light-40: #89959e40;
    --gray-light-80: #89959e80;
    --gray1: #ebe6e2;
    --gray2: #d6cdcd;
    --thin: 300;
    --normal: 400;
    --bold: 600;
    --br: 4px;
    --font: "Titillium Web", sans-serif;
    --size-big: 5.5vh;
    --size-avg: 2.3vh;
    --font-avg-width: 3.1vw;
    --size-avg-plus: 2.5vh;
    --size-avg-min: 2vh;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: var(--font);
    color: var(--white);
    text-shadow: #0f1c26;
    font-size: min(var(--font-avg-width), var(--size-avg));
    background-color: var(--dark-blue-80);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/static/img/grass-field-background.jpg") 50% 0 no-repeat fixed;
}
.MensajeInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background: var(--dark-blue);
    padding: 5vh;
    padding-block-start: 2vh;
    margin-block-end: 5vh;
    margin-block-start: 0;
    max-width: 700px;
}
.btn-msg{
    display: flex;
    width: fit-content;
}
.rulesLink {
    color: lightblue;
}

.hide {
    display: none;
}

.alert {
    margin-block-end: 3vh;
    margin-top: 1vh;
    width: 100%;
    color: red;
    text-align: center;
}

#SiteName {
    padding-left: 2vh;
}

#SiteName a {
    color: var(--gray1);
    text-decoration: none;
}

#SiteName a:hover {
    color: var(--main-green);
}

header {
    width: 90vw;
    max-width: 800px;
}

.header {
    background: var(--light-blue);
    min-width: max-content;
    display: flex;
    flex-direction: column;
}

.header * a,
.header * a:visited {
    color: var(--white);
}

.header * a:hover {
    color: var(--white-80);
}

.top-row {
    display: flex;
    justify-content: center;
}

.sec-row {
    background: var(--dark-blue-80);
}

.nav-items {
    display: flex;
    justify-content: space-between
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.89);
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: var(--size-avg);
    color: white;
    text-align: center;
    padding-right: 2vw;
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: var(--size-avg-plus);
}

.username {
    text-transform: uppercase;
    padding-right: 2vw;
}

/* The dropdown container */
.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    margin-left: 2vw;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-dark);
    font-weight: var(--bold);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.805);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar a:hover,
.dropdown-content a:hover {
    background-color: var(--main-80);
    /* background-color: #ddd; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-weight: 300;
    font-size: var(--size-big);
}

h2 {
    text-align: center;
    font-size: 3vh;
    color: var(--white);
}

.margin-0-0-40 {
    margin: 0 0 40px;
}

.container {
    /* margin: 0 auto; */
    padding: 3vh 0 3vh 0vh;
    background-color: var(--gray-light-80);
    display: flex;
    width: 90vw;
    max-width: 800px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /* background: url("/static/img/Lusail-Iconic-Stadium.webp") 10% 0 no-repeat; */
}

table {
    display: inline-block;
    max-height: 40vh;
    max-width: 70vw;
    overflow: auto;
    background-color: var(--dark-blue);
    margin: 0 5vh;
    margin-top: 0;
    border-spacing: 0 0.5rem;
    border: 2vh solid #0f1c2600;
    padding-block-end: 1vh;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 3vh;
}

.fa.up-arrow {
    transform: translateY(-33vh);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
}

.fa.down-arrow {
    transform: translateY(-8vh);
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.4));
}

.fa.hide {
    opacity: 0;
}

.fa.hide-display {
    display: none;
}

.fixedHeader {
    position: sticky;
    top: 0;
}

.scrollcontent {
    z-index: 0;
}
/* 
::-webkit-scrollbar {
    width: 0;
    background: var(--dark-blue);

} */

table caption {
    position: sticky;
    /* padding: 0vh 0.5vh; */
    text-transform: uppercase;
    text-align: left;
    font-size: var(--size-avg-plus);
    width: max-content;
}

/* center every element nested in a table row */
table tr>* {
    text-align: center;
    padding: 0.5rem;
}

/* style the headings to have thin uppercase titles for the columns */
table th {
    /* text-align: left; */
    font-weight: 450;
    font-style: italic;
    /* font-size: var(--size-avg-plus); */
    color: #eee;
    text-transform: uppercase;
    background-color: var(--main-dark);
    margin-top: 0;
    /* border: solid;
    border-width: 0 1px; */
}

/* slightly increase the weight of the cell describing the position */
table td.position {
    font-weight: 500;
}

/* style the cell with the driver visually separating the first, last name and team */
table td.driver {
    padding-left: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

table td.driver strong {
    text-transform: uppercase;
    font-weight: 500;
}

table td.driver span {
    text-transform: capitalize;
    margin-left: 0.75rem;
    font-size: 0.8rem;
    color: #999;
    letter-spacing: initial;
}

/* style the span nested in the last cell to have the gap in a rounded rectangle */
table td.gap span {
    background: #38383f;
    border-radius: 30px;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

a,
u {
    text-decoration: none;
    color: var(--gray2);
}

a:visited {
    color: var(--gray2);
}

a:hover {
    color: var(--gray1);
}

.flag_abbr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh
}

.flags {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flag {
    width: 50px;
    height: 45px;
}