.rulesContainer {
    margin: 9vh;
    padding: 3vh;
    margin-top: 0;
    background: var(--dark-blue);
    border-radius: var(--border-radius);
}

.rulesContainer ul {
    margin-top: 1vh;
    padding-left: 2vw
}

.rulesContainer ul li {
    padding: 1vw;
}

h4 {
    margin-top: 3vh;
    margin-bottom: 1vh;
}