<header>
	{% if user.is_authenticated %}
	<link
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
		rel="stylesheet"
		type="text/css"
	/>
	<div class="header">
		<div class="top-row">
			<h2 id="SiteName">
				<a class="nav-link" href="/"
					>Copa del Mundo <span class="sr-only"></span
				></a>
			</h2>
		</div>
	</div>
	<div class="navbar">
		<div class="nav-items">
			<div class="dropdown">
				<button type="button" class="dropbtn">
					Menu <span class="hidden-xs"></span>
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="{% url 'home:home' %}">Reglas</a>
					<a href="{% url 'home:my_predictions' %}">Mis Predicciones</a>
					<a href="{% url 'home:home' %}">Grand-bracket</a>
					<a href="{% url 'home:home' %}">Partidos Pasados</a>
					<a href="{% url 'home:home' %}">Proximos Partidos</a>
				</div>
			</div>
			<div class="user-info">
				<span class="username">{{ user.username }}</span>
				<a href="{% url 'logout' %}?next={% url 'home:home' %}">
					Cerrar Sesion</a
				>
			</div>
		</div>
	</div>
	{% endif %}
</header>
