<header>
    {% if user.is_authenticated %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
              rel="stylesheet"
              type="text/css"/>
        <div class="navbar">
            <div class="nav-items">
                <div id="menudropdown" class="dropdown">
                    <button type="button" class="dropbtn">
                        <i id="menu_logo_closed" class="fa fa-bars"></i>
                        <i id="menu_logo_open"
                           class="fa fa-angle-down fa-lg hide-display"
                           aria-hidden="true"></i>
                        Menu
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'home:home' %}">Página Principal</a>
                        <a href="{% url 'home:rules' %}">Reglas</a>
                        <a href="{% url 'home:my_predictions' %}">Mis Predicciones</a>
                        <a href="{% url 'home:bracket' %}">Clasificatoria</a>
                        {% comment %} <a href="{% url 'home:home' %}">Partidos Pasados</a> {% endcomment %}
                    </div>
                </div>
                <h2 id="SiteName">
                    <a class="nav-link" href="{% url 'home:home' %}">Copa del Mundo <span class="sr-only"></span
                    ></a>
                </h2>
                <div id="userdropdown" class="dropdown">
                    <button type="button" class="dropbtn">
                        <span class="username">{{ user.username }}</span>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'logout' %}?next={% url 'home:home' %}">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <br/>
        <br/>
        <br/>
        <br/>
    {% endif %}
</header>
