<div id="{{ group }}" class="Group Group_{{ group }}">
    <h2>Groupo {{ group }}
    </h2>
    <div class="flags flags_counties_{{ group }}">
        <div class="flag_abbr {{T1.abbr}}">
            <h4>Primero</h4>
            <div class="flag" style="background:url({{T1.flag_fifa_url}}) center center / 100% no-repeat"></div>
            <div class="abbr">{{T1.abbr}}</div>
        </div>
        <div class="flag_abbr {{T2.abbr}}">
            <h4>Segundo</h4>
            <div class="flag" style="background:url({{T2.flag_fifa_url}}) center center / 100% no-repeat"></div>
            <div class="abbr">{{T2.abbr}}</div>
        </div>
    </div>
</div>
