<div class="game_display_container">
    <div id="match_container">
        <div class="result-display">
            <div class="match">
                <div class="flags flags_countries_{{ group }}">
                    <h2>Resultado final</h2>
                    <div class="result-container">
                        <div class="flag_abbr {{ abbr_1 }}">
                            <div class="name_team team_1">{{ team_1 }}</div>
                            <div class="flag_score">
                                <div class="flag"
                                     style="background:url({{ flag_1 }}) center center / 100% no-repeat"></div>
                                {% comment %} <div class="abbr">{{abbr_1}}</div> {% endcomment %}
                                <div class="team_plus_score">
                                    {% if score_team_2 %}
                                        <h4>{{ score_team_1 }}</h4>
                                    {% else %}
                                        <h4>TBD</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <h4>_</h4>
                        <div class="flag_abbr {{ abbr_2 }}">
                            <div class="name_team team_2">{{ team_2 }}</div>
                            <div class="flag_score">
                                <div class="team_plus_score">
                                    {% if score_team_2 %}
                                        <h4>{{ score_team_2 }}</h4>
                                    {% else %}
                                        <h4>TBD</h4>
                                    {% endif %}
                                </div>
                                <div class="flag"
                                     style="background:url({{ flag_2 }}) center center / 100% no-repeat"></div>
                                {% comment %} <div class="abbr">{{abbr_2}}</div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submint_buttons_container">
                <input id="next_home" type="hidden" value="" />
                <input type="submit"
                       value="Anterior"
                       onclick="window.location.href='{% url 'home:game_by_id' id|add:"-1" %}';return false;"/>
                <input type="submit"
                       value="Siguiente"
                       onclick="window.location.href='{% url 'home:game_by_id' id|add:"1" %}';return false;"/>
            </div>
        </div>
    </div>
</div>
