{% extends "base_bootstrap.html" %} {% block head %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'game_page.css' %}" />
<script src="{% static 'game_page.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="game">
	<form action="/API/predict/{{id}}/" id="partidoForm" method="post">
		{% csrf_token %}
		<div class="caption">
			<span> {{fase}} </span>
		</div>
		<div id="match_container">
			<div class="match">
				<div class="team_plus_score">
					<div class="name_team team_1">{{team_1}}</div>
					{{"&nbsp;"}}
					<div>
						<input
							title="Goles"
							type="number"
							name="score_team_1"
							required="true"
							placeholder="-"
							autocomplete="off"
							min="0"
						/>
					</div>
				</div>
				<span> - </span>
				<div class="team_plus_score">
					<input
						title="Goles"
						type="number"
						name="score_team_2"
						required="true"
						placeholder="-"
						autocomplete="off"
						min="0"
					/>
					<div class="name_team team_2">{{team_2}}</div>
				</div>
			</div>
			<div class="submint_buttons_container">
				<input id="next_home" type="hidden" value="" />
				<input type="submit" value="Enviar y siguiente" />
				<input
					type="submit"
					value="Cancelar"
					onclick="window.location.href='{% url 'home:home' %}';return false;"
				/>
			</div>
		</div>
	</form>
</div>

<div class="tableList">
	<table id="GamePredictionsTable">
		<caption>
			Predicciones de este partido
		</caption>
		<tr>
			<th>Jugador</th>
			<th>Prediccion</th>
		</tr>
	</table>
</div>

{% endblock %}
