{% extends "base_bootstrap.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game_page.css' %}" />
    <script src="{% static 'game_page.js' %}" defer></script>
{% endblock %}
{% block content %}
    <div class="game">
        {% if score_team_1 != None %}
            {% include "bracket/disp_game.html" %}
        {% else %}
            {% include "bracket/fill_game.html" %}
        {% endif %}
        
        <div class="tableContainer">
            <table id="gamePredictionsTable">
                <caption>
                    Predicciones
                </caption>
                <thead class="fixedHeader">
                    <tr>
                        <th>Jugador</th>
                        <th>Prediccion</th>
                    </tr>
                </thead>
                <tbody id="gamePredictions_scroll" class="scrollContent">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
