{% extends "base_bootstrap.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'grand_bracket_page.css' %}?version=2"/>
    {% if not completed %}
        <script src="{% static 'grand_bracket_buttons.js' %}?version=2" defer></script>
        <script src="{% static 'grand_bracket_selects.js' %}?version=2" defer></script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="game">
        {% if completed %}
            {% include "bracket/disp_bracket.html" with data=bracket %}
        {% else %}
            {% include "bracket/fill_bracket.html" %}
        {% endif %}
    </div>
{% endblock %}
