{% extends "base_bootstrap.html" %} {% block head %} {% load static %}
<script src="{% static 'main.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="tableContainer">
	<table id="partidosTable">
		<caption>
			Proximos partidos
		</caption>
		<thead class="fixedHeader">
			<th></th>
			<th>Fecha</th>
			<th>Hora</th>
		</thead>
		<tbody class="scrollContent"></tbody>
	</table>
</div>

<div class="leaderboard">
	<table id="leaderboardTable">
		<caption>
			Ranking
		</caption>
		<thead class="fixedHeader">
			<tr>
				<th>#</th>
				<th>Jugador</th>
				<th>Puntos</th>
			</tr>
		</thead>
		<tbody class="scrollContent"></tbody>
	</table>
</div>

{% endblock %}
