{% extends "base_bootstrap.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rules.css' %}" />
{% endblock %}
{% block content %}
    <div class="rulesContainer">
        <h1>Bienvenidos al juego del mundial de fútbol 2022!</h1>
        <h2>Reglas de juego</h2>
        <p>
            El ganador del juego será aquella persona que logre acumular la mayor cantidad de puntos al
            finalizar el mundial Catar 2022. Los puntos serán asignados de acuerdo a los aciertos en los
            resultados de los partidos y de la clasificatoria.
        </p>
        <p>
            Los puntos serán otorgados siguiendo las siguientes pautas:
        </p>
        <h3><strong>Prediccion de partidos</strong></h3>
        <p>
            Las predicciones serán del marcador del partido al terminar los 90 minutos reglamentarios, o 120 minutos en caso de alargue. Si el partido se va a penales esos goles <strong>no contaran</strong> para las predicciones.
        </p>
        <ul type="none">
            <li>
                Acertar ganador/empate: 
                <strong><i> +2 puntos</i></strong>
            </li>
            <li>
                Acertar marcador final: 
                <strong><i> +2 puntos</i></strong>
            </li>
        </ul>
        <p>
            <i>
                Se podrán realizar o modificar predicciones de un partido hasta las 23:59h (hora Colombia) del día anterior a que sea jugado.
            </i>
        </p>
        <h3><strong>Prediccion de Clasificatoria</strong></h3>
        <p>
            Antes del inicio del mundial se deberá predecir la clasificatoria desde fase de grupos hasta la final. Esta predicción <strong>no</strong> se podrá modificar una vez hecha.
        </p>
        <p>Al terminar cada ronda los jugadores que hayan acertado recibirán puntos acorde a sus predicciones.</p>
        <ul type="none">
            <li>
                Acertar ganadores fase de grupos en orden: 
                <strong><i> +3 puntos</i></strong> (por cada grupo)
            </li>
            <li>
                Acertar ganadores fase de 16: 
                <strong><i> +6 puntos</i></strong>
            </li>
            <li>
                Acertar ganadores Octavos de final: 
                <strong><i> +6 puntos</i></strong>
            </li>
            <li>
                Acertar ganadores Semi final: 
                <strong><i> +12 puntos</i></strong>
            </li>
            <li>
                Acertar ganador Final: 
                <strong><i> +20 puntos</i></strong>
            </li>
        </ul>
    </div>
{% endblock %}
