{% extends "base_bootstrap.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rules.css' %}?version=2" />
{% endblock %}
{% block content %}
    <div class="rulesContainer">
        <h1>Bienvenidos al juego del mundial de fútbol 2022!</h1>
        <h2>Reglas de juego</h2>
        <p>
            El ganador del juego será aquella persona que logre acumular la mayor cantidad de puntos al
            finalizar el mundial Catar 2022. Los puntos serán asignados de acuerdo a los aciertos en los
            resultados de los partidos y de la clasificatoria.
        </p>
        <p>
            Los puntos serán otorgados siguiendo las siguientes pautas:
        </p>
        <h3><strong>Prediccion de partidos</strong></h3>
        <p>
            Las predicciones serán del marcador del partido al terminar los 90 minutos reglamentarios, o 120 minutos en caso de alargue. Si el partido se va a penales esos goles <strong>no contaran</strong> para las predicciones.
        </p>
        <ul type="none">
            <li>
                Acertar resultado: 
                <strong><i> +2 puntos</i></strong>
            </li>
            <li>
                Acertar marcador final: 
                <strong><i> +2 puntos</i></strong>
            </li>
        </ul>
        <p>
            <i>
                Se podrán realizar o modificar predicciones de un partido hasta una hora antes de que empiece.
            </i>
        </p>
        <h3><strong>Prediccion de ganador</strong></h3>
        <p>
            Esta predicción <strong>no</strong> se podrá modificar una vez hecha.
        </p>
         <ul type="none">
            <li>
                Acertar ganador Final: 
                <strong><i> +15 puntos</i></strong>
            </li>
        </ul>
    </div>
{% endblock %}
