{% extends "base_bootstrap.html" %}
{% block content %}
    <div class="MensajeInicial">
        <h3>¡Bienvenidos al juego del mundial de fútbol 2022!</h3>
     
        <p>
            El juego consiste ganar puntos acertando la clasificatoria general del mundial, y los resultados de partidos puntuales.
        </p>
        <p>
            En la clasificatoria de deben elegir los ganadores de cada fase del mundial: Primero y segundo de la fase de grupos, y ganadores de cada partido en las fases siguientes hasta la final.
            En los partidos se debe elegir el marcador final.
        </p>
        <p>
            En la pestaña <a class="rulesLink" href="{% url 'home:my_predictions' %}"><i>Mis predicciones</i></a> se pueden ver todos los marcadores ya ingresados, y se puede acceder a los partidos para cambiar la predicción.
        </p>
        <p>
            En la pestaña <a class="rulesLink" href="{% url 'home:bracket' %}"><i>Clasificatoria</i></a> se ingresa la clasificatoria general y, una vez enviada, se puede revisar el resultado ingresado.
        </p>
        <p>
            Recomendamos leer las <a class="rulesLink" href="{% url 'home:rules' %}">reglas de juego</a> antes de ingresar resultados para conocer como se otorgarán los puntos.
        </p>
        <h4> ¡Buena suerte!
        </h4>
        <br/>
        <a href="{% url "home:home" %}">Página Principal</a>
    </div>
{% endblock %}
