{% extends "base_bootstrap.html" %}
{% block content %}
    <div class="MensajeInicial">
        <h3>¡Bienvenidos al juego del mundial de fútbol 2022!</h3>
     
        <p>
            El juego consiste ganar puntos acertando los resultados de partidos y adivinando qué equipo será el campeón del mundo.
        </p>
        <p>
            En los partidos se debe elegir el marcador final.
        </p>
        <p>
            En la pestaña <a class="rulesLink" href="{% url 'home:my_predictions' %}"><i>Mis predicciones</i></a> se pueden ver todos los marcadores ya ingresados, y se puede acceder a los partidos para cambiar la predicción.
        </p>
        <p>
            En la pestaña <a class="rulesLink" href="{% url 'home:winner' %}"><i>Campeon</i></a> se ingresa la prediccion del campeón, una vez enviada, se puede revisar el resultado ingresado.
        </p>
        <p>
            Recomendamos leer las <a class="rulesLink" href="{% url 'home:rules' %}">reglas de juego</a> antes de ingresar resultados para conocer como se otorgarán los puntos.
        </p>
        <h4> ¡Buena suerte!
        </h4>
        <br/>
        <a href="{% url "home:home" %}">Página Principal</a>
    </div>
{% endblock %}
