{% extends "base_bootstrap.html" %}
{% block content %}
    <div class="MensajeInicial">
        <h3>¡Bienvenidos al juego del mundial de fútbol 2022!</h3>
        <p>
            Su participación en este juego esta supeditada a que Ud. haga un “buen” uso de
            sus conocimientos en materia del futbol mundial y sus preferencias en esta
            materia.
        </p>
        <p>
            El juego consiste en tratar de acertar los resultados de los partidos, (pestaña
            próximos partidos), o editar sus resultados antes de que se juegan (ver reglas de
            juego) en mis predicciones.
        </p>
        <p>
            De igual forma, es necesario dar desde el comienzo,
            la apuesta mas compleja: la clasificación, en la fase de grupos de los 2 primeros
            equipos de cada grupo, como los resultados subsiguientes de los partidos que
            se derivan hasta llegar a la final del campeonato, antes de que se inicie el
            mundial. Esto ultimo debe hacerse en la pestaña denominada clasificatoria.
        </p>
        <p>
            Antes de comenzar a llenar resultados y definir la clasificatoria lea las <a href="{% url 'home:rules' %}"> <strong class="rulesLink">reglas del juego</strong> </a>
        </p>
        <a href="{% url "home:home" %}">Página Principal</a>
    </div>
{% endblock %}
